<a href="https://colab.research.google.com/github/navleenkaur20/cs418518-f/blob/main/Assignment1_datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module 2.2.3

In [ ]:
integer_list = [1,2,3]
heterogeneous_list=['string',0/.2, True]
list_of_lists =[ integer_list, heterogeneous_list, [] ]
list_length = len(integer_list)
list_sum = sum(integer_list)

In [ ]:
print(list_sum)

6

In [ ]:
#get the i-th element
x =[0,1,2,3,4,5,6,7,8,9]
zero = x[0]
one = x[-1]
nine= x[-1]
eight=x[-2]

In [ ]:
#Get a slice of a list
one_to_four =x[1:5]
first_three = x[:3]
last_three = x[-3:]
three_to_end = x[3:]
without_first_and_last = x[1:-1]
copy_of_x = x[:]
another_copy_of_x = x[:3] + x[3:]

In [ ]:
x = 1 in [1,2,3]
x = 0 in [1,2,3]
print(x)

False

In [ ]:
#concatenate lists
x=[1,2,3]
y=[4,5,6]
x.extend(y)

In [ ]:
print(x)

[1, 2, 3, 4, 5, 6]

In [ ]:
print(x)

False

In [ ]:
#List unpacking

x,y =[1,2]

In [ ]:
print(x)

1

In [ ]:
print(y)

2

In [ ]:
[x,y] = 1,2

In [ ]:
print(x)

1

In [ ]:
print(y)

2

In [ ]:
x,y =1,2

In [ ]:
print(x)

1

In [ ]:
print(y)

2

In [ ]:
_,y = [1,2]

In [ ]:
print(y)

2

In [ ]:
# Modify the list
x =[1, 2, 3, 4, 5, 6,7,8,9]

In [ ]:
print(x[2] * 2)

6

In [ ]:
x[-1]=0

In [ ]:
print(x[-1])

0

In [ ]:
x[5:8]=[]

In [ ]:
print(x)

[1, 2, 3, 4, 5, 0]

In [ ]:
del x[:2]

In [ ]:
print(x)

[3, 4, 5, 0]

In [ ]:
del x[:]

In [ ]:
print(x)

[]

In [ ]:
del x

In [ ]:
print(x)

NameError: name 'x' is not defined

In [ ]:
#Strings can also be sliced. But they cannot be modified (they are immutable)
s ='abcdefg'
a = s[0]

In [ ]:
print(a)

a

In [ ]:
x =s[:2]

In [ ]:
print(x)

ab

In [ ]:
y = s[-3:]

In [ ]:
print(y)

efg

In [ ]:
s[:2] = 'AB'

TypeError: 'str' object does not support item assignment

In [ ]:
s = 'AB' +s[2:]

In [ ]:
print(s)

ABcdefg

In [ ]:
#Sorting List
x =[4,1,2,3]
x.sort()

In [ ]:
print(x)

[1, 2, 3, 4]

In [ ]:
x =[-4, 1, -2,3]
y = sorted(x, key=abs, reverse = True)

In [ ]:
print(y)

[-4, 3, -2, 1]

In [ ]:
x.sort(reverse=True)

In [ ]:
print(x)

[3, 1, -2, -4]

In [ ]:
# Tuples
a_tuple =(0,1,2,3,4)

In [ ]:
print(a_tuple)

(0, 1, 2, 3, 4)

In [ ]:
other_tuple = 3,4

In [ ]:
print(other_tuple)

(3, 4)

In [ ]:
Another_tuple = tuple({0,1,2,3,4})
print(Another_tuple)

(0, 1, 2, 3, 4)

In [ ]:
Heterogeneous_tuple = ('john',1.1,[1,2])
print(Heterogeneous_tuple)

('john', 1.1, [1, 2])

In [ ]:
a_tuple[2:3]

(2,)

In [ ]:
a_tuple[2]=5

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Useful for returning multiple values from functions
def sum_and_product(x,y):
  return (x+y), (x * y)
  sp = sum_and_product(2,3)
  s, p = sum_and_product(5,10)

In [ ]:
sum_and_product(2,3)

(5, 6)

In [ ]:
sum_and_product(5,10)

(15, 50)

In [ ]:
# Tuples and lists can also be used for multiple assignments
x, y = 1,2
[x,y] = [1,2]
(x,y)